*{
    list-style: none;
    text-decoration: none;
}


// @font-face {
//   font-family: '';
//   src: url('');
// }

.background{
    background-image: url("./images/home/MainBG.jpg");
    background-repeat: no-repeat;
    height:1500px;
    width:100%;

}

.breathe-deep{
    background-image: url("./images/home/BGimg.JPG");
    background-position: center;
    background-size: cover;
    width:100%;
    background-repeat: no-repeat;
    height:465px;
}







