<div class = "full-nav-bar">

<div class="wrapper">

    <div class="nav-container">
           
            <div class = "logo">
                <img ui-sref = "home" src="./images/TAOSlogo.png">
            </div>


<div class = "right">

    <div class="searchbar">

            <input class="searchbox" placeholder="Search The Art Of Shaving">
        
    </div>
    <!--///////////////////////////////////////////////////////////////////////////////////////////-->

    <div class = "welcome-box">

        <div class="top">Welcome <div ui-sref = "cart" class="cart-btn">CART</div>
</div>

        <div class="bottom">
            <a href= "/auth"> <li/>Sign In / Register</li></a>
            <li>Contact Us</li>
            <li>Barber Spa</li>
            <li>Find a Store</li>
        </div>

    </div>
</div>

    </div>


<!--///////////////////////////////////////////////////////////////////////////////////////////-->

<div class="navBar">

    <ul class="nav-menu">
        <li ui-sref="products({type:'kits'})">SHAVING</li>
        <li ui-sref="products({type:'razors'})">RAZORS</li>
        <li ui-sref="products({type:'brushes'})">BRUSHES</li>
        <li ui-sref="grooming">GROOMING</li>
        <li ui-sref="gift">GIFT IDEAS</li>

        <li>BUILD YOUR SET</li>
        <li>SHAVE CONSOLTATION</li>
        <li>REPLENTISHMENT SERVICE</li>
        <li>BLOG</li>

    </ul>





</div>
</div>
</div>

<div class = "top-buffer"></div>
