<div>
        <div class="details-container">

                <div class="left-content">
                        <div class="image-box">

                                <img class="kit-img" ng-src="{{product.img}}">
                        </div>


                </div>

                <!--======================================================================================================-->

                <div class="right-content">
                        <div class="text-box">

                                <div class="name-tag">{{product.name}}</div>

                                <p class="price-tag">${{product.price}}.00</p>
                                <p class="detail-tag">{{product.detail}}</p>
                                <p class="features-tag" ng-hide=" product.features === 'NULL' ">{{product.features}}</p>

                                <p>IN STOCK</p>
                        </div>
                </div>

                <div class="add-to-cart-btn">
                        <button type="addtoCart" ng-click="addToCart(product.id)" class="buy-item-now-btn">ADD TO CART</button>

                        <!--<button type="submit"  ng-click = "deleteItem(product.id)" class="buy-item-now-btn">REMOVE ITEM</button>-->

                </div>

        </div>
</div>