<div class="wrapper">

    <div class="nav-container">
           
            <div>
                <img ui-sref = "home" class="logo" src="./images/TAOSlogo.png">
            </div>


<div class = "right">

    <div class="searchbar">

            <input class="searchbox" placeholder="Search The Art Of Shaving">
        
    </div>
    <!--///////////////////////////////////////////////////////////////////////////////////////////-->


    <div class = "welcome-box">

        <div class="top">Welcome</div>

        <div class="bottom">
            <li>Sign In / Register</li>
            <li>Contact Us</li>
            <li>Barber Spa</li>
            <li>Find a Store</li>
        </div>

    </div>
</div>

    </div>


<!--///////////////////////////////////////////////////////////////////////////////////////////-->

<div class="navBar">

    <ul class="nav-menu">
        <li ui-sref="shaving">SHAVING</li>
        <li ui-sref="razors">RAZORS</li>
        <li ui-sref="brushes">BRUSHES</li>
        <li ui-sref="grooming">GROOMING</li>
        <li ui-sref="gift">GIFT IDEAS</li>

        <li>BUILD YOUR SET</li>
        <li>SHAVE CONSOLTATION</li>
        <li>REPLENTISHMENT SERVICE</li>
        <li>BLOG</li>

    </ul>





</div>
</div>
