<div class="background">

    <div class="container">

        <div class="breathe-deep">

            <div class="img">
                <img class="first" alt="Eucalyptus Shaving Cream" src="http://demandware.edgesuite.net/aadv_prd/on/demandware.static/-/Sites-TAOS-Library/default/v1493817062477/images/taos-newhome-images/4.18-shaving-cream/eucalyptus-shaving-cream.jpg">
                <div class = "img-content">

                    <div class="big-title">
                        BREATHE DEEP
                    </div>

                    <div class = "subtitle">
                        EXPERIENCE OUR EUCALYPTUS SHAVING CREAM
                    </div>

                    <button type="submit" class="shop-now-btn">SHOP NOW</button>



                </div>
            </div>
            <!--<img src="./images/home/MainBG.jpg">-->












        </div>
    </div>
</div>