*{
    text-decoration: none;
}

.cart-title{
    text-align: center;
    font-size: 80px;
}

.total-container{
    text-align: center; 
    height: 100%;
    width:80%;
    // border: 1px solid yellowgreen;
    // position: relative;
    margin:auto;

}


.item-container{
    text-align: center;
    overflow: auto;
    width: 80%;
    margin: 0 auto;
}

.cart-product{
    width: 30%;
    align-content: center;
    text-align: center;
    // margin-bottom: 10px;
    padding: 0 5%;


    .item-image{
        // border:1px solid green;
        height:auto;
        width:auto;

    }
        

// .product-name{
//     font-size: 18px;
//     border: 1px solid red;
//     width: 100%;
//     text-align: center;
//     padding: 10%;
//     text-decoration: none;

//     }

// .product-name:hover{
//     text-decoration: none;
// }



    .total{
        font-size:24px;
        // border:1px solid orange;
        text-decoration: none;
        padding:20px;

    }
}


.login-btn{
    margin: 20px auto;
    text-align:center;
}