*{
    list-style: none;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    
}

.background{
    position: relative;
    width:100%

    // border:1px solid yellowgreen

}

.container{
    position: absolute;
    top: 0;
    left:20%
}




// <img class="background" src="./images/MainBG.JPG">

.shop-now-btn{
    height:50px;
    width: 140px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.5s;
    background:black;
    color:whitesmoke;
    border: none;

}

    .shop-now-btn:hover {
        background-color: whitesmoke;
        color:black;
    }


// ----------------------------------1st image-----------------------------------------------------------

.img1 {
    position:relative;
}
    
.first{
        width: 100%;
}
    
.img1-content{
    position:absolute;
    top: 30%;
    right: 5%;
    }

    .big-title{
        font-size:80px;
        font-family: 'Oswald', sans-serif;
        }

        .subtitle{
            font-family: 'Montserrat', sans-serif;
            }


// ----------------------------------2nd image-----------------------------------------------------------

.img2{
    background: #D9D8D9;
    position:relative;
    align-items: center;
    height: 450px;
    width:auto;

}


.second{
    position: absolute;
    right: 0px;
    top: 40px;

    }



.img2-content{
    position:absolute;
    top: 30%;
    left: 5%;


        .big-title{
        font-size:60px;
        font-family: 'Oswald', sans-serif;
        right:0px;
        }

        .subtitle{
            font-family: 'Montserrat', sans-serif;
            }

        .shop-now-btn{
            margin-top:10px;
            margin-bottom:20px;
        }

}
// --------------------------------------------------------------------------------

.img3 {
    position:relative;
    background:darkgray;
    height: 460px;
    opacity: 90%;

}
    
.third{
    position:relative;
    height: 100%;

}
//how do i make the 3rd img move right and down?
    
.img3-content{
    position:absolute;
    top: 30%;
    right: 5%;

    }

    .big-title{
        font-size:70px;
        font-family: 'Oswald', sans-serif;
        }

        .subtitle{
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;


            }






