.shaving-kit-body{

    width:65%;
    margin:auto;

.top-buffer{
    margin-top:200px;
}

    .mainIMG{
        display: flex;
        justify-content: center;
        // height:auto;
        width:100%;

        img{
            width:100%;
            height:auto;
        }


    }

}


// ----------------------------------------------------------------------------------------------------------


.tile {
    margin-background: yellow;
}


.product-tile{

    // height:350px;

    h4{
        margin-top: 30px;
    }

}


